/* Globals */

body {
	background-color: #727272;
	text-align: center;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#wrapper {
	width: 800px;
	text-align: center;
    margin: 0px auto;
	padding: 0px;
}

.clear {
    margin: 0; 
	padding: 0;
	clear: both;
}

.left 
{
    float: left;
}

.bold {
    font-weight: bold;
}

a {
    color: #6e78a9;
}

a:hover  {
    color: #9ac0db;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	margin: 0px;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
}

/* Header */

#header {
	float: left;
	width: 800px;
	height: 150px;
	margin: 0px;
	background-image: url("../images/headerbg.gif");
	background-position: top;
	background-color: #616ba1;
	background-repeat: no-repeat;
}

#header-left {
	float: left;
	width: 50%;
}

#header-right {
	float: left;
	width: 50%;
}

#logo {
	float: left;
	padding-left: 17px;
	padding-top: 20px;
}

#tag {
	float: left;
	padding-left: 17px;
}

.tagline {
	font-style: italic;
	color: #c0c4da;
}

#login {
	float: right;
	padding-right: 17px;
	padding-top: 13px;
}

.util {
	color: #FFFFFF;
	font-size: 14px;
}

.util a {
	color: #b3d1e6;
	text-decoration: none;
}

.util a:hover {
	color: #FFFFFF;
}

#menu {
	float: left;
	width: 800px;
	height: 41px;
	background-color: #9198bd;
	margin-top: 13px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

#navigation a {
	color: #FFFFFF;
	text-decoration: none;
}

#navigation a:hover {
	color: #9ad1db;
}

#navigation ul {
	list-style: none;
    margin: 0px;
	margin-left: 17px;
	margin-top: 13px;
    padding: 0px;
    float: left;
}

#navigation ul li {
    display: inline;
	margin-right: 7px;
}

#search {
	float: right;
	margin-right: 17px;
}

#search table {
	margin: 0px;
	padding: 0px;
	border: none;
	width: 355px;
	float: right;
}

#search table tr td {
	border: none;
	padding: 0px;
	margin: 0px;
}

.searchbox {
	background-image: url("../images/searchbg.gif");
	background-position: top;
	background-repeat: no-repeat;
	width: 280px;
	height: 22px;
	border: none;
	padding: 5px;
	font-size: 14px;
	margin: 0px;
	margin-top: 5px;
	vertical-align: middle;
}

.searchbutton {
	background-image: url("../images/searchbuttonbg.gif");
	background-position: top;
	background-repeat: no-repeat;
	width: 65px;
	height: 32px;
	margin: 0px;
	margin-top: 5px;
	padding: 0px;
	border: none;
	vertical-align: middle;
	cursor: pointer;
}

/* Body */

#body {
	float: left;
	width: 766px;
	background-image: url("../images/gradientbg.gif");
	background-position: top;
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	text-align: left;
	padding: 17px;
	overflow: hidden;
}

.entry {
	float: left;
	color: #FFFFFF;
	width: 766px;
	text-align: left;
	margin-bottom: 15px;
	line-height: 18px;
	font-size: 16px;
}

.entry-light {
	background-color: #8088b1;
}

.entry-med {
	background-color: #6e78a9;
}

.entry-dark {
	background-color: #4d5683;
}

.entry-body {
	float: left;
	padding: 15px;
	width: 85%;
}

.entry-vote {
	float: left;
	width: 10%;
	margin-bottom: 15px;
}

.vote-left {
	float: left;
	margin-top: 11px;
	margin-right: 6px;
}

.vote-right {
	float: left;
	margin-top: 30px;
}

.votecount {
	font-size: 18px;
	font-weight: bold;
}

.entry-title {
	float: left;
	width: 276px;
	height: 26px;
	padding: 0px;
}

.entry-title h2 {
	margin-left: 14px;
	margin-top: 10px;
}

.entry-title a {
	color: #FFFFFF;
	text-decoration: none;
}

.entry-title a:hover {
	color: #9ad1db;
}

.meta {
	float: left;
	width: 490px;
}

.favorite {
	float: left;
	width: 20px;
	margin-top: 3px;
}

.info-bar {
	float: left;
	width: 447px;
	margin-left: 3px;
	padding: 4px 10px 0px 10px;
	height: 22px;
	background: #aaafcc;
	color: #000000;
	font-size: 12px;
}

.info-bar a {
	color: #636dad;
}

.info-bar a:hover {
	color: #3383ac;
}

.page-left  {
    width: 50%;
    float: left;
}

.page-right  {
    width: 50%;
    float: left;
}

.page-right p  
{
    margin-bottom: 8px;
}

.entry-form  {
    width: 360px;
    height: 80px;
}

.right-context-image {
    margin-top: -15px;
    float: right;
}

.entry-view {
    padding: 20px 0px 20px 0px;
    margin-top: -2px;
} 

#comments-wrapper {
    float: left;
    width: 100%;
    margin-top: 10px;
}
   
.comment {
    width: 690px;
    float: left;
    position: relative;
    margin-bottom: 5px;
    padding: 10px 10px 30px 10px;
    background-color: #8f8f8f;
    background-image: url("../images/quotes-grey.gif");
    background-repeat: no-repeat;
    background-position: right top;
    color: #FFFFFF;
    border-left: 2px solid #676767;
    overflow: hidden;
}

.comment a {
    color: #4d5683;
    text-decoration: none;
}

.comment a:hover {
    color: #FFFFFF;
}

.comment-alt {
    width: 690px;
    float: right;
    position: relative;
    margin-bottom: 5px;
    background-color: #b9c9d7;
    background-image: url("../images/quotes-blue.gif");
    background-repeat: no-repeat;
    background-position: right top;
    padding: 10px 10px 30px 10px;
    color: #000000;
    border-left: 2px solid #8b969f;
}

.comment-alt a {
    color: #4d5683;
    text-decoration: none;
}

.comment-alt a:hover {
    color: #FFFFFF;
}

.comment-admin {
    background-color: #d3d395;
    background-image: url("../images/quotes-gold.gif");
    background-repeat: no-repeat;
    background-position: right top;
    border-left: 2px solid #c4c48f;
    color: #000000;
}

.comment-admin a 
{
    color: #6e7fc5;
}

.comment-body {
    float: left;
    width: 650px;
}

.comment-meta {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #000000;
    margin: 5px;
}

#addcomment {
    float: left;
    margin-top: 10px;
    width: 745px;
    background-color: #e4e4e4;
    padding: 10px;
}

#addcomment textarea {
    width: 740px;
}

/* Footer */

#footer {
	float: left;
	background-image: url("../images/footerbg.gif");
	background-repeat: no-repeat;
	background-color: #616ba1;
	width: 800px;
	height: 93px;
	text-align: left;
	color: #cccfe0;
}

#footer a {
	color: #FFFFFF;
	text-decoration: none;
}

#footer a:hover {
	color: #9ac0db;
}

#footer-left {
	float: left;
	margin-left: 17px;
	margin-top: 10px;
}

#footer-right {
	float: right;
	margin-right: 17px;
	margin-top: 10px;
}